@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,300;1,400;1,500&display=swap');

/* para tiutlo inportantes*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 242, 249);
    line-height: 1;
}

#contairner_principal{
    /*width: 100%;*/
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
    'header header header'
    'main main main'
    'main main main'
    'main main main'
    'pie pie pie';
    

}

#cabecera_principal {
    /*background-image: linear-gradient(to left, #f2c8f2, #e7a4de, #de7dc7, #d552ac, #cb008f);*/
    background: linear-gradient(220.55deg, #FF0000 0%, #470000 100%);
    grid-area: header;

    display: flex;
    flex-direction:row ;
    justify-content: space-between;

    .logotipo_principal {
        width: 21%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-end;

        .logo {
            padding: 1em 2em;

            img {
                width: 7em;
                height: 7em;
                border-radius: 50%;
            }

            .logo_img {
                object-fit: cover;
            }
            
        }
        .redes_sociales{
            width: 150px;
            height: 50px;

            ul{
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-left: 0;

                li {
                    list-style: none;
                    width: 30%;
                    text-align: center;
                    margin-left: 5px;
                    
                    a{
                        background-color: #333;
                        border-radius: 50%;
                        width: 100%;
                        height: auto;
                        padding: 10px;
                        
                        svg{
                            width: 25px;
                            height: 25px;
                            background-color: #fff;
                            border-radius: 50%;
                        }

                        .bi-whatsapp{
                            color: rgb(52, 174, 52);
                        }
                    }
                }
            }
        }
        
    }

    .menu_principal{
        width: 50%;
        height: 3em;
        margin:auto 0;
        list-style: none;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;

        li {
            padding: 8px;
            margin-left: 20px;

            #btn_carrito{
                background: purple;
                display: flex;
                justify-content: center;
                align-items: center;

                .bi-cart4{
                    margin-right: 3px;
                }

                #cantidadCarrito{
                    background-color: #fff;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid #333;
                    color: rgb(0, 0, 0);
                    padding: 5px;
                    font-family:'Times New Roman', Times, serif;
                    font-weight: bold;
                    margin-left: 10px;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
            }

            &:hover{
                border-bottom: 2px solid #47b4fd;
                cursor: pointer;
            }

            a{
                color: rgb(255, 255, 255);
                text-decoration: none;
                text-align: center;
            }

            &:last-child{
                margin-right: 20px;
            }
        
        }
    }

    .navbar{
        display: none;
    }
}

