@mixin btnPrimario($ancho, $color){
    background-color: $color;
    width: $ancho;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
}


@mixin contenedorPrimario($_colorFondo){
    background-color: $_colorFondo;
    width: 100%;
    padding: 0;
    margin: 0;
}


@mixin textosNormales($_size, $_tipografia){
    font-size: $_size;
    font-family: $_tipografia;
    font-weight: 500;
}